name: Jenkins PR Validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  jenkins:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Jenkins image
        run: docker build -t jenkins-with-docker -f Dockerfile.jenkins .

      - name: Run Jenkins
        run: |
          docker run -d \
            --name jenkins \
            -p 8080:8080 \
            -p 50000:50000 \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD:/workspace \
            -e JENKINS_OPTS="--argumentsRealm.passwd.admin=admin --argumentsRealm.roles.admin=admin" \
            jenkins-with-docker

      - name: Wait for Jenkins
        run: |
          until curl -s http://localhost:8080/login; do sleep 5; done
      - name: Copy Jenkins job config XML into container
        run: docker cp pr-test-job-config.xml jenkins:/workspace/pr-test-job-config.xml

      - name: Run Jenkinsfile
        run: |
          docker exec jenkins bash -c '
          curl -X POST -u admin:admin \
            -H "Content-Type: application/xml" \
            --data-binary @/workspace/pr-test-job-config.xml \
            "http://localhost:8080/createItem?name=pr-test"
          '
